
<!-- Start Global Header -->
  <%= render :partial => 'layouts/header' %>
<!-- End Global Header -->
<!--<span class="breadcrumbs">Models > Highest Rated</span>-->

<br/><br/>

<a href="/models/create"><input id="Upload new part" class="classy" type="submit" value="Upload" name="upload" onclick="upload()"></a>

<br/><br/>

  <%= render :partial => 'rated_short' %>

  <%= render :partial => 'recent_short' %>

  <%= render :partial => 'downloaded_short' %>

<%= render :partial => 'layouts/footer' %>