<!-- Start Global Header -->
  <%= render :partial => 'layouts/header' %>
<!-- End Global Header -->


<div class="formbox">
<br/>
 
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %>
  <%= f.text_field :login %><br />
  <br />
  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %>&nbsp;<%= f.label :remember_me %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>

</div>


<!-- Start Global Footer -->
  <%= render :partial => 'layouts/footer' %>
<!-- End Global Footer -->
