<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<!--meta data starts-->
<meta name="Title" content="<%=@page%>" />
<meta name="rno" content="" />
<meta name="content-owner" content="barkley@mitre.org" />
<meta name="webmaster" content="barkley@mitre.org" />
<meta name="description" content="Secure Parts Database for Additive Manufacturing" />
<meta name="dc.title" content="Secure Parts Database for Additive Manufacturing" />
<meta name="dc.format" content="" />
<meta name="dc.date.modified" content="Nov 2009" />
<meta name="dc.language" content="en" />
<meta name="dc.publisher" content="The MITRE Corporation" />
<meta name="dc.description" content="" />
<meta name="dc.identifier" content="" />
<meta name="original creator" content="barkley@mitre.org" />
<!--meta data ends-->



  <title>MakeOne</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="-1">

  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'scriptaculous' %>

  <%= stylesheet_link_tag "common" %>

  <script language="JavaScript" type="text/JavaScript">
  <!--

  //-->
  </script>

</head>

<body>

<!-- Start Global Header -->
  <%= render :partial => 'layouts/header' %>
<!-- End Global Header -->


<!-- Start Global Footer -->
  <%= render :partial => 'layouts/footer' %>
<!-- End Global Footer -->

</body>
</html>
